<div class="d-flex mb-3 align-items-center" [formGroup]="form">
  <label class="mb-0">Top</label><input class="form-control" formControlName="top">
  <label class="mb-0 ml-auto">Bottom</label><input class="form-control" formControlName="bottom">
</div>
<div class="d-flex mb-3 align-items-center" [formGroup]="form">
  <label class="mb-0">Left</label><input class="form-control" formControlName="left">
  <label class="mb-0 ml-auto">Right</label><input class="form-control" formControlName="right">
</div>
