:host{
  display: flex;
  flex-direction: column;
}

.point{
  display: flex;
  align-items: flex-start;
  margin-right: 10px;

  &:last-child{
    margin-right: 0;
  }

  input{
  }

  input:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }

  input:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form-control{
  width: 110px;
}
