#!/usr/bin/env bash

export CLEARDB_DATABASE_URL='mysql://root:PASSWORD@localhost:3306/conserve'
export S3_BUCKET=''
export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY='test'
export S3_REGION=''
export STRIPE_PUBLIC_API_KEY=''
export STRIPE_SECRET_API_KEY=''
