<div id="wrapper" [class.enlarged]="enlarged">
  <div class="topbar">
    <div class="topbar-left">
      <div class="text-center">
        <a href="#" class="logo"><span>Conservethisacre</span></a>
      </div>
    </div>

    <nav class="navbar-custom">
      <ul class="list-inline menu-left mb-0">
        <li class="float-left">
          <button class="button-menu-mobile open-left waves-light waves-effect" (click)="onMenuClick()">
            <i class="mdi mdi-menu"></i>
          </button>
        </li>
      </ul>
    </nav>
  </div>


  <!-- ========== Left Sidebar start ========== -->

  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>
          <li class="menu-title">Admin</li>
          <li class="active">
            <a href="#" routerLink="/admin/forests" routerLinkActive="active" class="waves-effect waves-primary"><i class="mdi mdi-tree"></i><span>Forests</span></a>
          </li>
          <li class="">
            <a href="#" routerLink="/admin/parcels" routerLinkActive="active" class="waves-effect waves-primary"><i class="mdi mdi-shape-rectangle-plus"></i><span>Parcels</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- ========== Left Sidebar end ========== -->

  <!-- ========== main content start ========== -->
  <div class="content-page">

    <!-- content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>

    <!-- content -->

    <!-- footer -->
    <footer class="footer">
      2017 © Conservethisacre
    </footer>
  </div>

  <!-- ========== main content end ========== -->


  <!-- ========== Right sidebar start ========== -->
  <!-- ========== Right sidebar end ========== -->

</div>
