<div class="row">
  <div *ngIf="parcel$ | async as parcel">

    <h4 class="card-title">Parcel {{parcel.id}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{parcel.area | json}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Cost: {{parcel.cost}}</h6>
    <img *ngFor="let image of parcel.images" [src]="image.thumbnailUrl"/>
    <hr/>

    <ng-container *ngIf="isLogged$ | async; else notLoggedBlock">

      <app-card-charge  *ngIf="!parcel.conservedBy; else conservedBlock" [amount]="parcel.cost * 100" [parcel]="parcel"></app-card-charge>

    </ng-container>

    <ng-template #conservedBlock>
      This is conserved by {{parcel.conservedBy.name}}
    </ng-template>

    <ng-template #notLoggedBlock>
      Please <a href="#" routerLink="/auth/signin">Sign in</a> to conserve
    </ng-template>


  </div>
</div>
