<div class="row">
  <div *ngIf="parcel$ | async as parcel">

    <h4 class="card-title">Parcel {{parcel.id}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{parcel.area | json}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Cost: {{parcel.cost}}</h6>
    <img *ngFor="let image of parcel.images; let i = index"  class="image" [src]="image.thumbnailUrl" (click)="onImageClick(i)"/>
    <hr/>
    <h6 class="card-subtitle mb-2 text-muted">Panoramas</h6>
    <img *ngFor="let image of parcel.panoramas" class="panorama" [src]="image.thumbnailUrl" (click)="onPanoramaClick(image)"/>
    <hr/>

    <conserve-panorama-preview *ngIf="panoramaPreviewUrl" [url]="panoramaPreviewUrl" (close)="onPanoramaClose()"></conserve-panorama-preview>

    <ng-container *ngIf="isLogged$ | async; else notLoggedBlock">

      <app-card-charge  *ngIf="!parcel.transactions.length; else conservedBlock" [amount]="parcel.cost * 100" [parcel]="parcel"></app-card-charge>

    </ng-container>

    <ng-template #conservedBlock>
      This is conserved by {{parcel.transactions[0].user.firstName}}
    </ng-template>

    <ng-template #notLoggedBlock>
      Please <a href="#" routerLink="/auth/signin">Sign in</a> to conserve
    </ng-template>


  </div>
</div>
