<div class="modal" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" (click)="close()">×</button>
        <h4 class="modal-title">Add Forest</h4>
      </div>
      <div class="modal-body" [formGroup]="form">
        <h6 class="m-t-5">Name</h6>
        <div>
          <input type="text" class="form-control" formControlName="name"/>
        </div>
        <h6 class="m-t-5">Description</h6>
        <div>
          <textarea type="text" class="form-control" formControlName="description"></textarea>
        </div>

        <div class="m-t-5" *ngIf="form.controls['id'].value">
          <div class="thumbnails">

            <div *ngFor="let image of images; let i = index" class="item" (click)="imageClick(i)">
              <img src="{{image.thumbnailUrl}}"/>
              <i class="remove mdi mdi-delete" (click)="delete(image, $event)"></i>
            </div>
            <div class="overlay-busy" *ngIf="uploading"><i>Please wait</i></div>

          </div>
          <input type="file" hidden #fileInputRef (change)="upload()"/>
          <button class="btn btn-primary" (click)="choose()">Upload</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="busy$ | async">Save changes</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
