<div class="modal" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" (click)="close()">×</button>
        <h4 class="modal-title">Add Forest</h4>
      </div>
      <div class="modal-body" [formGroup]="form">
        <h6 class="m-t-30">Description</h6>
        <div>
          <input type="text" class="form-control" formControlName="description"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="busy$ | async">Save changes</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>
