<div class="card-box">
  <h4>Available forests</h4>
  <div class="position-relative">
    <div class="overlay-busy" *ngIf="busy$ | async"><i>Loading data...</i></div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let forest of forests$ | async">
        <td>{{forest.id}}</td>
        <td>{{forest.description}}</td>
        <td class="actions">
          <span (click)="onEditClick(forest)"><i class="mdi mdi-18px mdi-pencil"></i></span>
          <span (click)="onDeleteClick(forest)"><i class="mdi mdi-18px mdi-delete"></i></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" (click)="onAddClick()">Add</button>

</div>
