<div [formGroup]="form">
  <p class="error" *ngIf="error$ | async">Username or password incorrect</p>
  <h6>Email</h6>
  <div class="mb-3">
    <input class="form-control" formControlName="email"/>
  </div>
  <h6>Password</h6>
  <div class="mb-3">
    <input class="form-control" type="password" formControlName="password" (keyup.enter)="signin()"/>
  </div>
  <button class="btn btn-primary" (click)="signin()" [disabled]="busy$ | async">Sign In</button>
  <button class="btn btn-primary" (click)="facebookSignin()" [disabled]="busy$ | async">Facebook Sign in</button>
</div>
