<div class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Logo</a>

    <ul class="nav navbar-nav ml-auto flex-row">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/parcels">Parcels</a>
      </li>
      <ng-container *ngIf="isLogged$ | async; else loginBlock">
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/admin">Admin</a>
        </li>

        <li class="nav-item align-items-center d-flex ml-5">
          <span>Welcome, {{(user$ | async)?.firstName}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ng-container>

      <ng-template #loginBlock>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/auth/signin">Login</a>
        </li>
      </ng-template>
    </ul>
  </div>
</div>

<header>

</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
