.navbar{
  background-color: white;
  box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.4)
}

.navbar-brand{
  position: absolute;
  font-size: 1.1em;
  top:10px;
}

.nav-link{
  padding: .5rem 1rem;
}

.nav-item.active{
    font-weight: 500;
}

header{
  height: 50px;
  background-color: #ffffff;
}

.container{
}
