/* You can add global styles to this file, and also import other style files */
$fa-font-path: '/assets/fonts';

@import './assets/css/bootstrap.min.css';
@import './assets/scss/variables';
@import './assets/scss/icons';
@import './assets/scss/common';
@import "./assets/scss/bootstrap-reset";
@import "./assets/scss/helper";

@import './assets/scss/menu';
@import './assets/scss/modal';
@import './assets/scss/buttons';

.btn-primary:disabled{
  background-color: $primary;
  border-color: $primary;
}

// commons from bootstrap. toado: replae bootstrap.min.css with real bootstrap scss
.position-relative {
  position: relative;
}

.overlay-busy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.01);

  i {
    padding: 10px 20px;
    background-color: $primary;
    color: #fff;
    font-style: normal;
    box-shadow: 0 0 8px -2px #000;
  }
}
